* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 3000px;
}
.upper-case {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
    padding-top: 150px;
    color: gray;
    font-size: 50px;
}
footer {
    /* width: 1349.49px; */
    background-color: rgb(34, 30, 30);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer div {
    margin-right: 80px;
}
.ser-footer {
    color: rgb(227, 98, 51);
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.posts {
    display: flex;
    flex-direction: column;
}
.posts a{
    line-height: 30px;
    text-decoration: none;
    color: gray;
}
.contact-adresse {
    display: block;
    color: gray;
    line-height: 30px
}
.contact-adresse a {
    text-decoration: none;
    line-height: 30px;
    color: gray;
}
.usefull-link a{
    text-decoration: none;
    line-height: 30px;
    color: gray;
}

/* INPUT-FOOTER */

.input-footer {
    width: 100px;
    padding: 10px 25px 10px 25px;
}
.btn-search {
    padding: 12px 25px 12px 25px;
    background-color: rgb(227, 98, 51);
    color: white;
    border: none;
}

/* .btn-icons {
    display: flex;
    justify-content: space-between;
}
.small-btn {
    padding: 14px 14px 14px 14px;
    margin-top: 10px;
    background-color: rgb(227, 98, 51);
    border: none;
    color: white;
    border-radius: 1px;
} */
.btn-icons {
    display: flex;
    justify-content: space-between;
}
.btn-icons button {
    padding: 15px 15px 15px 15px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgb(227, 98, 51);
    border: none;
    color: white;
    border-radius: 2px;
}

/* <!-- LOGO --> */
.Logo-footer {
    margin-top: 40px;
}
.Logo-footer p {
    color: gray;
    font-size: 15px;
    margin-right: 30px;
}
.logo {
    text-align: center;
    font-size: 40px;
}